In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree

In [3]:
#!pip install graphviz

Requirement already satisfied: graphviz in /Users/robertmeier/opt/anaconda3/lib/python3.8/site-packages (0.16)

In [112]:
data=pd.read_csv("Customer-Churn.csv")

In [113]:
data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [114]:
dummies=['gender','Partner', 'Dependents', 'PhoneService','OnlineSecurity', 'OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','Churn']

In [115]:
df_dumm=data[dummies]
df_dumm = pd.get_dummies(df_dumm, drop_first = True)

In [116]:
df = pd.concat([data, df_dumm], axis = 1)

In [117]:
df.drop(dummies, axis = 1, inplace = True)

In [118]:
new_data=df

In [119]:
new_data.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,1889.5,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
2,0,2,53.85,108.15,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,45,42.30,1840.75,1,0,0,0,0,1,...,1,0,1,0,0,0,0,1,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [120]:
new_data["TotalCharges"] = pd.to_numeric(new_data["TotalCharges"],errors="coerce")

In [121]:
new_data["TotalCharges"]=new_data["TotalCharges"].fillna(0)

In [122]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   SeniorCitizen                         7043 non-null   int64
 1   tenure                                7043 non-null   int64
 2   MonthlyCharges                        7043 non-null   float64
 3   TotalCharges                          7043 non-null   float64
 4   gender_Male                           7043 non-null   uint8
 5   Partner_Yes                           7043 non-null   uint8
 6   Dependents_Yes                        7043 non-null   uint8
 7   PhoneService_Yes                      7043 non-null   uint8
 8   OnlineSecurity_No internet service    7043 non-null   uint8
 9   OnlineSecurity_Yes                    7043 non-null   uint8
 10  OnlineBackup_No internet service      7043 non-null   uint8
 11  OnlineBackup_Yes                      7043 non-null   uint8
 12  DeviceProtection_No internet service  7043 non-null   uint8
 13  DeviceProtection_Yes                  7043 non-null   uint8
 14  TechSupport_No internet service       7043 non-null   uint8
 15  TechSupport_Yes                       7043 non-null   uint8
 16  StreamingTV_No internet service       7043 non-null   uint8
 17  StreamingTV_Yes                       7043 non-null   uint8
 18  StreamingMovies_No internet service   7043 non-null   uint8
 19  StreamingMovies_Yes                   7043 non-null   uint8
 20  Contract_One year                     7043 non-null   uint8
 21  Contract_Two year                     7043 non-null   uint8
 22  Churn_Yes                             7043 non-null   uint8
dtypes: float64(2), int64(2), uint8(19)
memory usage: 350.9 KB

In [123]:
print(new_data.isna().sum())

SeniorCitizen                           0
tenure                                  0
MonthlyCharges                          0
TotalCharges                            0
gender_Male                             0
Partner_Yes                             0
Dependents_Yes                          0
PhoneService_Yes                        0
OnlineSecurity_No internet service      0
OnlineSecurity_Yes                      0
OnlineBackup_No internet service        0
OnlineBackup_Yes                        0
DeviceProtection_No internet service    0
DeviceProtection_Yes                    0
TechSupport_No internet service         0
TechSupport_Yes                         0
StreamingTV_No internet service         0
StreamingTV_Yes                         0
StreamingMovies_No internet service     0
StreamingMovies_Yes                     0
Contract_One year                       0
Contract_Two year                       0
Churn_Yes                               0
dtype: int64

## x/y split

In [124]:
target=new_data["Churn_Yes"]
new_data.drop(["Churn_Yes"],axis=1,inplace=True)

## TRain/Test split

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_data, target, test_size=0.3, random_state=100)

In [126]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

## scalling

In [127]:
#fitting the transformer on the train set and using it for train and test
scaler_x = StandardScaler().fit(X_train)
X_train_scaled = pd.DataFrame(scaler_x.transform(X_train),columns=X_train.columns, index=X_train.index)
X_test_scaled = pd.DataFrame(scaler_x.transform(X_test),columns=X_test.columns, index=X_test.index)

## balancing

In [133]:
X_train_scaled_sampled, y_train_sampled = balance (X_train_scaled, y_train, "SMOTE")

Before sampling:
Churn_Yes
0            3627
1            1303
dtype: int64
_______________
After sampling:
Churn_Yes
1            3627
0            3627
dtype: int64

## Log-Modell

In [134]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import cohen_kappa_score
from sklearn.metrics import classification_report

In [144]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class="multinomial").fit(X_train_scaled_sampled, y_train_sampled)
y_test_pred = classification.predict(X_test_scaled)
classification.score(X_test_scaled,y_test)

0.7231424514907714

## dession tree

In [137]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [145]:
model = DecisionTreeClassifier().fit(X_train_scaled_sampled, y_train_sampled)

model.score(X_test_scaled,y_test)

0.7250354945575012

## and now with tomek

In [149]:
X_train_scaled_sampled1, y_train_sampled1 = balance (X_train_scaled, y_train, "TomekLinks")

Before sampling:
Churn_Yes
0            3627
1            1303
dtype: int64

/Users/robertmeier/opt/anaconda3/lib/python3.8/site-packages/imblearn/utils/_validation.py:635: FutureWarning: Pass sampling_strategy=majority as keyword args. From version 0.9 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.9 "

_______________
After sampling:
Churn_Yes
0            3221
1            1303
dtype: int64

## log

In [151]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class="multinomial").fit(X_train_scaled_sampled1, y_train_sampled1)
y_test_pred = classification.predict(X_test_scaled)
classification.score(X_test_scaled,y_test)

0.7704685281590156

## Dessiontree

In [153]:
model = DecisionTreeClassifier().fit(X_train_scaled_sampled1, y_train_sampled1)

model.score(X_test_scaled,y_test)

0.7288215806909607

In [45]:
#function sampling
def balance (X_scaled, Y, sampler): #sampler=str
    from imblearn.under_sampling import RandomUnderSampler
    from imblearn.over_sampling import RandomOverSampler
    from imblearn.over_sampling import SMOTE
    from imblearn.under_sampling import TomekLinks
    print("Before sampling:")
    print(pd.DataFrame(Y).value_counts())
    if sampler=="RandomUnderSampler":
        sa = RandomUnderSampler()
        X_s, y_s = sa.fit_sample(X_scaled, Y)
        print("_______________")
        print("After sampling:")
        print(pd.DataFrame(y_s).value_counts())
        return X_s, y_s
    elif sampler=="RandomOverSampler":
        sa = RandomOverSampler()
        X_s, y_s = sa.fit_sample(X_scaled, Y)
        print("_______________")
        print("After sampling:")
        print(pd.DataFrame(y_s).value_counts())
        return X_s, y_s
    elif sampler=="SMOTE":
        sa = SMOTE()
        X_s, y_s = sa.fit_sample(X_scaled, Y)
        print("_______________")
        print("After sampling:")
        print(pd.DataFrame(y_s).value_counts())
        return X_s, y_s
    elif sampler=="TomekLinks":
        sa = TomekLinks('majority')
        X_s, y_s = sa.fit_sample(X_scaled, Y)
        print("_______________")
        print("After sampling:")
        print(pd.DataFrame(y_s).value_counts())
        return X_s, y_s